body {
    background-image: url("https://images5.alphacoders.com/404/404604.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
p {
    color: white;
    background-color: black;
    text-align: center;
} 
.center {
    text-align: center;
    background-color: black;
    color: white;
}
table, th, td 
{
    font-family:sans-serif;
font-size:20pt;
color:white;
background-color:navy;
align: bottom;
}

th, td {
    padding: 10px;
}
#footer  {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}